<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">My Groups</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">
  <!-- Form panel for creating new groups -->
  <div class="panel panel-default">
    <form class="panel-body" >
      <legend>Add New Group</legend>
      <!-- Group name input -->
      <div class="row">
        <label class="col-md-2 control-label">Group Name:</label>
        <div class="col-md-10">
          <input class="form-control" type="text" ng-model="name"
            placeholder="Name your group">
        </div>
      </div>
      <br>
      <!-- Group interests input -->
      <div class="row">
        <label class="col-md-2">Interests:</label>
        <div class="col-md-10">
          <textarea class="form-control" type="text" ng-model="interests"
            placeholder="Excercise, Angular.js, investing?"></textarea>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary pull-right" ng-click="createGroup()">Submit</button>
      </div>
      <br>
    </form>
  </div>
  <legend>All Groups</legend>
  <!-- Panels for each of the user's existing goals -->
  <div class="group panel" ng-repeat="group in allGroups | orderBy:'-updatedAt'">
    <!-- Panel heading with goal title and date of last update -->
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8">Name: {{group.name}}</div>
      </div>
      <div class="row">
        <div class="col-md-8">Interests: {{group.interests}}</div>
      </div>
      <div class="row">
        <div class="col-md-8">Members: {{group.users}}</div>
      </div>
      <div class="row">
        <button class="btn btn-primary pull-right" ng-click="joinGroup(group.name)">Join</button>
      </div>
    </div>
  </div>
</div>
